<div class="header-container">
  <div class="header desktop-header">
      <span class="logo-container" routerLink="items">
    <img class="logo" src="../../../../assets/Logo/Aprosag_konyvek_logo_1_black.svg"/>
    </span>
    <span class="button-container">
      <a class="menu-item" routerLink="items" routerLinkActive="active">Termékeink</a>
      <a class="menu-item" routerLink="why-is-it-special" routerLinkActive="active">Mitől különleges</a>
      <a class="menu-item" routerLink="about-us" routerLinkActive="active">Rólunk</a>
      <a class="menu-item" routerLink="contacts" routerLinkActive="active">Kapcsolat</a>
      <div class="actions">
         <a class="menu-item profile" routerLink="profile" routerLinkActive="active">
        <img src="../../../../assets/Icons/Profile.svg" height="15px"/>
      </a>
      <a class="menu-item cart" [ngClass]="{disabled: router.url === '/cart' ||router.url === '/cash-desk'}"  (click)="openCartModal()">
        <span class="counter">{{cartService.count}}</span>
        <img src="../../../../assets/Icons/Cart.svg" height="15px"/>
      </a>
      </div>

    </span>
  </div>
  <div class="header mobile-header">
    <fa-icon class="menu-opener" [icon]="faBars" (click)="openMenu()"></fa-icon>
    <span class="logo-container" routerLink="items">
    <img class="logo" src="../../../../assets/Logo/Aprosag_konyvek_logo_1_black.svg"/>
    </span>
    <a class="cart"(click)="openCartModal()">
      <span class="counter">{{cartService.count}}</span>
      <img src="../../../../assets/Icons/Cart.svg" height="15px"/>
    </a>

  </div>
</div>

<p-sidebar [(visible)]="visible" [baseZIndex]="10000" class="menu">
  <span class="button-container">
      <a class="menu-item" routerLink="items" routerLinkActive="active" (click)="visible = false">Termékeink</a>
      <a class="menu-item" routerLink="why-is-it-special" routerLinkActive="active" (click)="visible = false">Mitől különleges</a>
      <a class="menu-item" routerLink="about-us" routerLinkActive="active" (click)="visible = false">Rólunk</a>
      <a class="menu-item" routerLink="contacts" routerLinkActive="active" (click)="visible = false">Kapcsolat</a>
    </span>
</p-sidebar>
