<!--
<div class="gallery-container">
  <div class="image-container">
    <img class="image" *ngFor="let image of sliderImages" [src]="'assets/' + image">
    <img class="image" [src]="'assets/' + sliderImages[actImage]">
    <img class="arrow left" (click)="prevImage()" src="assets/Icons/Left_Arrow_White.svg" height="50px"/>
    <img class="arrow right" (click)="nextImage()" src="assets/Icons/Right_Arrow_White.svg" height="50px"/>
  </div>
  <div class="buttons-container">
    <div class="buttons">
      <div *ngFor="let button of sliderImages; let i = index" class="button-outer">
        <div class="button-inner" [class.active]="i === actImage"></div>
      </div>
    </div>
  </div>
</div>
-->

<div
  class="gallery-container">
  <swiper
    #swiper
    class="image-container"
    [config]="config"
  >
    <ng-template swiperSlide *ngFor="let image of sliderImages">
      <img class="image" [src]="'assets/' + image"/>
    </ng-template>
  </swiper>
  <!--
  <div class="buttons-container">
    <div class="buttons">
      <div *ngFor="let button of sliderImages; let i = index" class="button-outer">
        <div class="button-inner" [class.active]="i === actImage"></div>
      </div>
    </div>
  </div>
  -->
</div>
