<div class="successful-order-container">
  <div class="title">Rendelés megerősítve!</div>
  <div class="order-number">
    Rendelésszámod: {{orderNumber}}
  </div>
  <div class="thank-you-text">
    Köszönjük, hogy megtiszteltél bizalmaddal! Hamarosan küldünk egy megerősitő emailt, melyben minden információt megtalálsz. A feladásról egy másik emailben értesitünk.
    </div>
  <div class="thank-you">
    Köszönjük rendelésed!
  </div>

  <div class="button-container">
    <button class="button" (click)="goToItems()">Vissza a kezdőoldalra!</button>
  </div>
</div>
