<div class="header-container">
  <span class="logo-container" routerLink="items">
    <img class="logo" src="../../../assets/Logo/Aprosag_konyvek_logo_1_black.svg"/>
  </span>
  <span class="button-container">
    <span class="button-list">
      <a class="menu-item" routerLink="items" routerLinkActive="active">Termékeink</a>
      <a class="menu-item" routerLink="why-is-it-special" routerLinkActive="active">Mitől különleges</a>
      <a class="menu-item" routerLink="about-us" routerLinkActive="active">Rólunk</a>
      <a class="menu-item" routerLink="contacts" routerLinkActive="active">Kapcsolat</a>
      <span class="icon">
      <a class="menu-item profile" routerLink="profile" routerLinkActive="active"><fa-icon [icon]="faUser" ></fa-icon></a>
      <a class="menu-item cart" (click)="openCartModal()"><fa-icon [icon]="faCart"></fa-icon></a>
    </span>
    </span>

  </span>

</div>
<span class="userTemp">
      {{(authService.user$ | async)?.email}}
    </span>


<ng-template class="cart-modal">
  <aprosag-cart-modal></aprosag-cart-modal>
</ng-template>
