@import "src/variables";
@import "src/mixins";



:host {
  flex: 1;
  background: linear-gradient(180deg, rgba(251, 240, 241) 0%, rgba(255, 255, 255) 60%);;
}

.profile-page-container {
  font-family: lato, Helvetica, sans-serif;
  color: $font-color;

  .profile-container {
    width: $content-percentage-width;
    max-width: $content-max-width;

    margin: 50px auto;

    @media (max-width: $breakpoint-sm) {
      width: 100%;
      flex-direction: column;
      margin-top: 0;
      padding: $base-padding;
    }

    .title{
      @include title;
      text-align: center;
      margin-bottom: 20px;
    }

    .content-container {
      display: flex;

      @media (max-width: $breakpoint-sm) {
        flex-direction: column;
      }

      .content{
        padding-left: 20px;
        padding-right: 20px;

        @media (max-width: $breakpoint-sm) {
          padding: 0;
        }

        width: 100%;

        @media (max-width: $breakpoint-sm) {
          margin-top: 20px;
        }
      }
    }

    .side-menu {
      background-color: white;
      padding: 20px;
      display: flex;
      flex-direction: column;
      width: 30%;
      height: fit-content;
      font-weight: bold;

      @media (max-width: $breakpoint-sm) {
        width: 100%;
        flex-direction: row;
        padding: 10px;
      }

      .nav-item {
        width: fit-content;
        cursor: pointer;
        font-size: 1.1em;
        padding-bottom: 5px;
        margin-bottom: 30px;

        @media (max-width: $breakpoint-sm) {
          width: 100%;
          margin: 5px;
          text-align: center;
        }

        .link {
          color: $green-line;
          font-weight: bold;
          cursor: pointer;

        }

        &.selected {
          color: $green-line;
          border-bottom: 4px solid $green-line;
        }
      }
    }

    form {
      width: 100%;
    }

    .form-container {
      .email-verification-container {
        margin: 0 15px;
      }

      .form-block {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 20px;

        @media (max-width: $breakpoint-sm) {
          grid-template-columns: 100%;
          column-gap: 0;
        }

        .form-field-container {
          color: $font-color;
          margin: 0 15px 15px 15px;

          .label {
            font-size: 15px;
            display: block;
          }

          .input-field {
            @include input-field;
          }
        }
      }

      .divider {
        width: calc(100% - 15px);
        border-bottom: 1px solid $font-color;
        margin: 15px;
      }

    }

    .button {
      @include button;
      float: right;
      width: 180px;
    }
  }
}



.orders-container {
  background-color: white;
  font-weight: bold;

  .header {
    padding: 15px 25px;
    color: white;
    background-color: $base-green;

    .text {
      font-size: 16px;
    }
  }

  .price{
    text-align: right;
  }

  .content {
    padding: 0 25px;

    @media (max-width: $breakpoint-sm) {
      padding: 0;
    }

    .order-number{
      color: $green-line;
      text-decoration: underline;
      cursor: pointer;
    }



    .table-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;

      border-bottom: 1px solid black;
      padding: 20px 0;

      overflow: hidden;



      .right {
        display: flex;
        justify-content: space-between;
        width: 60%
      }

      .cart-item-image-container {
        height: 100px;

        .cart-item-image {
          height: 100%;
        }

        .cart-text-container {
          flex-direction: column;
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-left: 40px;
          font-size: 18px;

          .title-container {
            display: flex;
            justify-content: space-between;

            .title {
              font-weight: bold;
            }

            .delete-button {
              font-size: 25px;
            }
          }

          .price-container {
            display: flex;
            justify-content: space-between;

            .times {
              color: rgb(180, 180, 180);
              margin-right: 10px;
            }
          }
        }
      }

      &:last-of-type {
        border-bottom: none;
      }

      .table-title {
        font-weight: 700;
      }
    }
  }
}

.content-title{
  background-color: $disabled-button;
  color: white;
  vertical-align: center;
  padding: 20px;

  .title{
    display: flex;
    justify-content: space-between;

    .close-icon{
      color: white;
    }
  }
}
.order-content-container {
  font-family: lato, Helvetica, sans-serif;

  background-color: #F6F7F6;
  max-width: 60%;
  margin: 50px auto;
  font-weight: bold;

  .header {
    padding: 15px 25px;
    color: white;
    background-color: $base-green;

    .text {
      font-size: 16px;
    }
  }

  .content {
    padding: 0 25px;

    .table-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;


      border-bottom: 1px solid black;
      padding: 20px 0;

      overflow: hidden;

      .right {
        display: flex;
        justify-content: space-between;
        width: 60%
      }

      .cart-item-image-container {
        height: 100px;

        .cart-item-image {
          height: 100%;
        }

        .cart-text-container {
          flex-direction: column;
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-left: 40px;
          font-size: 18px;

          .title-container {
            display: flex;
            justify-content: space-between;

            .title {
              font-weight: bold;
            }

            .delete-button {
              font-size: 25px;
            }
          }

          .price-container {
            display: flex;
            justify-content: space-between;

            .times {
              color: rgb(180, 180, 180);
              margin-right: 10px;
            }
          }
        }
      }

      &:last-of-type {
        border-bottom: none;
      }

      .table-title {
        font-weight: 700;
      }
    }
  }
}
