<div class="profile-page-container">
  <div class="profile-container">
    <div class="title">
      <div>Fiókom</div>
    </div>
    <div class="content-container">
      <div class="side-menu">
        <div *ngFor="let menu of menus" class="nav-item" [ngClass]="{'selected': menu === selectedMenu}"
             (click)="changeMenu(menu)">{{menu}}</div>
      </div>
      <div [ngSwitch]="selectedMenu" class="content">
        <div *ngSwitchCase="'Adataim'">
          <form [formGroup]="profileForm" *ngIf="user">
            <div class="form-container">
              <div class="form-block">
                <div class="form-field-container">
                  <span class="label">Email cím</span>
                  <input class="input-field" formControlName="email"/>
                </div>
                <div class="form-field-container">
                  <span class="label">Jelszó</span>
                  <input class="input-field" disabled/>
                </div>
              </div>
              <!--
              <div class="email-verification-container" *ngIf="!user.emailVerified">
                Az email-címed még nincs megerősítve. Kérlek kattints az emailben kapott linkre.
                Kattints <span class="link" (click)="resendVerificationEmail()">ide</span> az email újraküldéséhez.
              </div>
              -->
              <div class="divider"></div>
              <div class="form-block">
                <div class="form-field-container">
                  <span class="label">Vezetéknév</span>
                  <input class="input-field" formControlName="lastName"/>
                </div>
                <div class="form-field-container">
                  <span class="label">Keresztnév</span>
                  <input class="input-field" formControlName="firstName"/>
                </div>
                <div class="form-field-container">
                  <span class="label">Cégnév (nem kötelező)</span>
                  <input class="input-field" formControlName="companyName"/>
                </div>
                <div class="form-field-container">
                  <span class="label">Adószám (Vállalkozásoknak kötelező)</span>
                  <input class="input-field" formControlName="taxNumber"/>
                </div>
                <div class="form-field-container">
                  <span class="label">Ország</span>
                  <input class="input-field" formControlName="country"/>
                </div>
                <div class="form-field-container">
                  <span class="label">Város</span>
                  <input class="input-field" formControlName="city"/>
                </div>
                <div class="form-field-container">
                  <span class="label">Utca, házszám</span>
                  <input class="input-field" formControlName="address"/>
                </div>
                <div class="form-field-container">
                  <span class="label">Irányítószám</span>
                  <input class="input-field" formControlName="zipCode"/>
                </div>
              </div>
              <div class="divider"></div>
              <div class="form-block">
                <div class="form-field-container">
                  <span class="label">Telefonszám</span>
                  <input class="input-field" formControlName="phoneNumber"/>
                </div>
              </div>
            </div>
            <button class="button save-button" type="submit" (click)="saveData()">Mentés</button>
          </form>
        </div>
        <div class="orders-container" *ngSwitchCase="'Rendeléseim'">
          <table class="table">
            <thead class="header">
            <tr>
              <th scope="col">Rendelésszám</th>
              <th scope="col">Rendelés dátuma</th>
              <th scope="col">Státusz</th>
              <th class="price" scope="col">Összeg</th>
            </tr>
            </thead>
            <tbody class="content">
            <ng-container *ngFor="let order of orders">
              <tr>
                <td>
                  <span class="order-number" >
                    <a (click)="order.open = !order.open"> #{{order.order.orderNumber?.toString()?.slice(0, 4)}}</a>
                  </span>
                </td>
                <td>{{order.order.date?.toDate() | date}}</td>
                <td>{{order.order.state}}</td>
                <td class="price" *ngIf="order.order.shippingType && order.order.price">{{order.order.price + order.order.shippingType.value}} Ft</td>
              </tr>
              <ng-container *ngIf="order.open">
                <tr class="content-title">
                  <td colspan="4">
                    <div class="title-text">
                      <span>Rendelés tartalma</span>
                    </div>
                  </td>
                </tr>
                <tr class="order-content-container">
                  <td colspan="4">
                    <div class="content">
                      <div class="table-row" *ngFor="let item of order.order.cart">
                        <span class="amount">{{item.amount}}x</span>
                        <span class="cart-item-image-container" *ngIf="item.item.image_urls">
                          <img class="cart-item-image" [src]="'assets/' + item.item.image_urls[0]"/>
                        </span>
                        <span class="right">
                          <span class="cart-item-text-container">
                              <div>{{item.item.title}}</div>
                              <div class="price">{{item.item.price}} Ft</div>
                          </span>
                        <span class="price">
                              {{(item.item.price || 0) * item.amount}} Ft
                            </span>
                        </span>
                      </div>
                      <div class="table-row" *ngIf="order.order.shippingType">
                        <span class="table-title">Szállítás</span>
                        <span class="right">
                          <span>{{order.order.shippingType.name}}</span>
                          <span>{{order.order.shippingType.value}} Ft</span>
                        </span>
                      </div>
                      <div class="table-row" *ngIf="order.order.shippingType && order.order.price">
                        <span class="table-title">Összeg</span>
                        <span>{{order.order.price + order.order.shippingType.value}} Ft</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>

            </tbody>
          </table>
        </div>
        <div *ngSwitchCase="'Kedvenceim'">
          Kedvenceim
        </div>
      </div>
    </div>
  </div>
</div>
