<div class="shipping-options-container">
  <div class="shipping-options">
    <div class="option" *ngFor="let paymentType of settingsService.paymentTypes$ | async">

      <div class="input-container">
        <input class="radio-button" type="radio" id="{{paymentType.name}}" name="option"
               (click)="orderService.changeSelectedPaymentType(paymentType)" [checked]="(orderService.selectedPaymentType$ | async)?.name === paymentType.name">
        <label class="label" for="{{paymentType.name}}">
          <span class="name">{{paymentType.name}}</span>
        </label>
      </div>
      <div class="description-container">
            <span class="description" [innerHTML]="paymentType.description">
            </span>
      </div>
    </div>
  </div>
</div>
