<div class="item-card-container">
  <img *ngIf="item.image_urls" class="item-card-image" [src]="item.image_urls[0] | async">
  <div class="title">{{item.title}}</div>
  <div class="subtitle">{{item.subtitle}}</div>
  <div class="prices" *ngIf="item.price">
    <span *ngIf="item.discount_price" class="discount price">{{item.discount_price + " Ft"}}</span>
    <span *ngIf="item.discount_percentage" class="discount percentage">{{(item.price * item.discount_percentage) + " Ft"}}</span>
    <span class="original_price" [ngClass]="{'invalid': item.discount_price || item.discount_percentage}">{{item.price + " Ft"}}</span>
  </div>
</div>
