@import "src/variables";
@import "src/mixins";

.item-card-container{
  color: $font-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;

  .title{
    margin-top:20px;
    font-size: 18px;
  }
  .subtitle{
    margin-top: 20px;
    font-family: lato, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1em;
  }

  .item-card-image{
    width: 100%;
  }

  .prices {
    display: flex;
    width: 100%;
    align-items: flex-end;
    margin-top: 50px;
    font-size: 20px;
    font-family: lato, Helvetica, sans-serif;
    font-weight: 600;
    .original_price.invalid {
      margin-left: 50px;
      text-decoration: line-through;
    }
    .discount{
      color: $red-text;
    }
  }
}
