.option {
  margin-bottom: 24px;
  .input-container {
    display: flex;
    align-items: center;
    height: 30px;

    input {
      width: 50px;
      height: 1.5em;
    }

    .label {
      display: flex;
      flex-direction: column;
      margin: 0;

      .name {
        font-weight: bold;
      }
    }
  }

  .description-container {
    display: flex;
    margin-left: 50px;

    .description {
      white-space: pre-wrap;
      line-height: 2;
    }
  }
}
