@import "projects/aprosag-webshop/src/variables";
@import "projects/aprosag-webshop/src/mixins";

.cart-modal-container {
  transition: height 0.5s;
  font-family: lato, Helvetica, sans-serif;

  .cart-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    position: relative;
    font-size: 18px;
    padding: 20px;

    box-shadow: 0 6px 6px -5px rgba(0, 0, 0, 0.2);
    height: 70px;
  }

  .cart-modal-item-list {
    background-color: rgb(246, 246, 246);
    min-height: 150px;
    max-height: 452px;
    overflow-y: auto;

    @media (max-width: $breakpoint-sm) {
      max-height: 300px;
    }

    .cart-item-container {
      overflow: hidden;

      .delete-item {
        cursor: pointer;
      }
      .cart-item {
        display: flex;
        padding: 20px;
        height: 100%;

        .cart-item-image-container {
          .cart-item-image {
            max-width: 110px;
          }
        }

        .cart-text-container {
          flex-direction: column;
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-left: 40px;
          font-size: 18px;

          @media (max-width: 470px) {
            margin-left: 10px;
          }

          .title-container {
            display: flex;
            justify-content: space-between;

            .titles {
              overflow: hidden;
              .title {
                font-weight: bold;
              }
            }

            .delete-item {
              margin-left: 5px;
            }
          }

          .price-container {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            @media (max-width: 470px) {
              flex-direction: column;
              align-items: flex-end;
            }

            .times {
              color: rgb(180, 180, 180);
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  .cart-modal-footer {
    position: relative;
    font-size: 18px;

    box-shadow: 0 -6px 6px -5px rgba(0, 0, 0, 0.2);

    .footer-content {
      padding: 20px;

      .button {
        @include button();
        width: 100%;
      }
    }

    .price-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 20px;

      .price {
        font-weight: 900;
      }
    }
  }

  .divider {
    margin: 0 20px;
    height: 1px;
    background-color: rgb(180, 180, 180);

    &:last-of-type {
      display: none;
    }
  }
}
