@import "src/variables";


.container{
  background-position-x: center;
  background-repeat: repeat-y;

  width: $content-percentage-width;
  max-width: $content-max-width;

  .logo-container{
    width: 100%;
    .logo{
      width: 10em;
      margin: 50px auto;
      display: block;
    }
  }

  .items-container{
    font-family: lato, Helvetica, sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin: 50px auto 50px auto;
    text-align: center;
  }
}
