@import "libs/ui/src/lib/variables";
@import "libs/ui/src/lib/mixins";

.about-us-page-container {
  font-family: lato, Helvetica, sans-serif;
  font-weight: 800;
  color: $font-color;
  height: 100%;

  @include background('/assets/Backgrounds/About_us_BG.svg');

  .about-us-container {
    @include pagesize;

    margin: 0 auto;
    margin-bottom: 180px;

    display: flex;
    flex-direction: column;

    .title {
      @include title;
    }

    .text {
      font-size: $text-size;
      font-weight: normal;
      text-align: center;

      margin-bottom: 48px;
    }

    .person-container {
      display: flex;
      font-weight: normal;
      font-size: 18px;
      row-gap: 45px;

      @media (max-width: $breakpoint-sm) {
        flex-direction: column;
      }

      .person {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 15px;
        flex: 1 1 0;
        min-width: calc(33% - 3* 15px);

        .subtitle {
          @include subtitle;
        }

        .image {
          width: 100%;
        }
      }
    }
  }
}
