@import "src/variables";
@import "src/mixins";


.contacts-page-container {
  font-family: lato, Helvetica, sans-serif;
  font-weight: 800;
  color: $font-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;

  @include background('/assets/Backgrounds/Contact_BG.svg');

  .contacts-container {
    width: $content-percentage-width;
    max-width: $content-max-width;

    .title {
      @include title;
    }

    .content-container{
      display: flex;
      gap: 50px;
      font-weight: normal;
      font-size: 18px;
      line-height: 1.5;


      @media (max-width: $breakpoint-md) {
        flex-direction: column;
      }

      .left {
        display: flex;
        gap: 20px;

        width: 50%;


        @media (max-width: $breakpoint-md) {
          width: 100%;
        }

        flex-direction: column;
        margin-right: 5px;
        text-align: left;

        input[type='text'],
        textarea {
          @include input-field;
        }

        .data-protection-container {
          display: flex;
          align-items: center;

          label{
            margin: 0;
          }

          input {
            width: 50px;
            height: 1.5em;
          }
        }

        input[type='button'] {
          @include button;
          width: 50%;
          margin-right: 0;
          margin-left: auto;
        }
      }

      .right{
        width: 50%;

        @media (max-width: $breakpoint-md) {
          width: 100%;
        }

        .subtitle{
          font-weight: 900;
          margin: 18px 0;
        }

        .email{
          margin: 18px 0;
          a {
            color: $font-color !important;
          }
        }
      }
    }


  }
}
