@import "src/variables";
@import "src/mixins";

.container {
  font-family: lato, Helvetica, sans-serif;
  font-weight: 900;
  color: $font-color;

  margin-bottom: 50px;

  $content-max-width: 1000px;
  $content-percentage-width: 70%;

  .contacts-container {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 70px;

    h1{
      font-size: 2.5em;
      text-align: center;
    }

    .form-container {
      display: flex;
      margin-top: 50px;

      .form {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        text-align: left;

        input[type='text'],
        textarea {
          @include input-field;
        }

        input[type='button']{
          @include button;
          margin-top:30px;
          margin-left: auto;
          margin-right: 0;
        }
      }

      .data-protection-container{
        margin-top: 20px;

        #checkbox {
          border-radius: 20px;
          background-color: red;
        }
      }

      .text{
        width: 50%;
        font-size: 1.4em;
        padding-left: 100px;
        text-align: left;
      }
    }
  }
}
