<div class="container">
  <div class="contacts-container">
    <h1>Kapcsolat</h1>
    <div class="form-container">
      <div class="form">
        <input id="name" type="text" placeholder="Név"/>
        <input id="email" type="text" placeholder="Email cím"/>
        <textarea id="text" placeholder="Szöveg" rows="10"></textarea>
        <span class="data-protection-container">
          <input id="data-protection" type="checkbox" value="Adatvédelmi"/>
          <label for="data-protection"> Elfogadom az Adatvédelmi tájékoztatót</label>
        </span>
        <input type="button" value="Küldés"/>
      </div>
      <div class="text">
        <p>Ha rendeléssel kapcsolatos kérdésed van, vagy csak szeretnéd velünk felvenni a kapcsolatot, keress minket
          bátran az alábbi elérhetőségeken, vagy küldj üzenetet közvetlenül itt, a honlapon!</p>
        <p>Ügyfélszolgálat</p>
        <p>info@aprosagkonyvek.hu</p>
        <p>Molnár Nikoletta: +3630 907 9536<br/>(hétköznap 9-16 óráig)</p>
      </div>
    </div>
  </div>
</div>
