@import "src/variables";
@import "src/mixins";

.login-page-container{
  background-image: url("../../../assets/Backgrounds/Special_page_BG_clipped.jpg");
  background-position-x: center;
  background-repeat: repeat-y;
  font-family: latoMedium, Helvetica, serif;
  color: $font-color;

  .login-page{
    min-height: 700px;

    text-align: center;
    max-width: 25%;
    margin: 50px auto;

    input{
      @include input-field;
    }

    .signup-text{
      margin-top: 50px;
      font-size: 1.1em;
      font-family: latoBold, Helvetica, serif;

    }

    .button{
      margin-top: 20px;
      &.login-button{
        @include button;
      }

      &.signup-button{
        @include button($font-color)
      }
    }


  }
}
