@import "src/variables";
@import "src/mixins";

.login-page-container{
  font-family: lato, Helvetica, sans-serif;
  font-weight: 600;
  color: $font-color;

  .login-page{
    min-height: 700px;

    text-align: center;
    max-width: 25%;
    margin: 50px auto;

    input{
      @include input-field;
    }

    .signup-text{
      margin-top: 50px;
      font-size: 1.1em;
      font-family: lato, Helvetica, sans-serif;
      font-weight: bold;
    }

    .button{
      margin-top: 20px;
      &.login-button{
        @include button;
      }

      &.signup-button{
        @include button($font-color)
      }
    }


  }
}
