@import "src/variables";
@import "src/mixins";

::ng-deep {
  .cart-dialog {
    margin-top: 80px !important;
    margin-right: 30px;

    @media (max-width: 1225px) and (min-width: 816px) {
      margin-top: 140px !important;
    }

    @media (max-width: 816px) and (min-width: 600px) {
      margin-top: 140px !important;

    }

    @media (max-width: 600px) {
      margin-left: 20px;
      margin-right: 20px;
      width: calc(100% - 40px);
    }
  }

  ngb-modal-window {

    .modal-content {
      border-radius: 30px;
    }

    .added-to-cart-dialog, .successful-order-dialog {
      max-width: min(70%, 800px);

      @media (max-width: 600px) {
        margin-left: 20px;
        margin-right: 20px;
        max-width: calc(100% - 40px);
      }
    }
  }
}

.app-container {
  .navigation {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
    position: fixed;

    .page-scrim {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(black, 0.3);
    }

    .side-navigation {
      position: absolute;
      left: 0;
      top: 0;
      max-width: 300px;
      width: 80%;

      border-right: 1px solid lightgray;
      height: 100%;
      transition: width 0.3s;
      background-color: white;
      z-index: 9999;
      padding: 20px;

      .buttons-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 35px;

        .menu-item {
          text-decoration: none;
          font-size: 16px;
          font-weight: bold;
          color: $font-color;
          margin-right: 30px;
          text-transform: uppercase;
          padding: 10px;

          &.active {
            border-bottom: 4px solid $green-line;
          }

        }
      }

      .divider{
        width:100%;
        height:2px;
        background-color: rgba(black, 0.1);
      }

      .user-container{
        .menu-item{
          font-size: 12px;

        }
        display: flex;
        flex-direction: column;
        gap: 35px;

      }
    }

    .page {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;


      .header-container {
        width: 100%;
      }

      .content-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow-y: scroll;

        .open {
          overflow: hidden;
        }

        .content {
          flex: 1;
        }
      }
    }

  }
}


.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;

  &.transparent {
    background-color: rgba(white, 0.8);
  }

  .animation {
    border-radius: 100px;
    width: 200px;
  }
}
