<link rel="stylesheet" href="app.component.scss">
<div class="page">
  <div class="header-container">
    <aprosag-header class="header"></aprosag-header>
  </div>
  <div class="content-container">
    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <div class="footer">
      <aprosag-footer class="footer"></aprosag-footer>
    </div>
  </div>

  <div class="loading-screen" [ngClass]="{transparent: loadingService.transparent}" *ngIf="(loadingService.loading | async)">
    <img class="animation" src="assets/Loading_anim.gif">
  </div>

</div>


