::ng-deep .modal-dialog  {
  margin-top: 80px !important;
  margin-right: 30px;

  @media (max-width: 1225px) and (min-width: 816px) {
    margin-top: 140px !important;
  }
}

.page{
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header-container{
    position: fixed;
    width: 100vw;
    z-index: 999999;
  }

  .content {
    margin-top: 69px;
    display: flex;
    flex: 1;
    flex-direction: column;

    @media (max-width: 1225px) and (min-width: 816px) {
      margin-top: 123px !important;
    }
  }
}
