<div class="footer-container">
  <div class="top">
    <div class="left">
      <div class="link-container">
        <a class="contract-link">Általános Szerződési feltételek</a>
        <a class="contract-link">Süti beállítások</a>
        <a class="contract-link">Adatvédelmi tájékoztató</a>
        <a class="contract-link">Szállítási információk</a>
      </div>
    </div>
    <div class="center">
      <div class="text">Apróság Könyvek - Horváth Áron Ferenc E.V.</div>
      <div class="text space">Adószám: 56604425-1-28</div>
      <div class="text">OTP Bank (SWIFT/BIC kód: OTPVHUHB)</div>
      <div class="text">Horváth Áron Ferenc</div>
      <div class="text">11773377-00530167</div>
    </div>
    <div class="right">
      <div class="text">Ügyfélszolgálat:</div>
      <div class="text">info@aprosagkonyvek.hu</div>
      <div class="text">+36309079536</div>
      <div class="social-media-container">
      </div>
  </div>
  </div>
  <div class="bottom">
    <img src="../../../../assets/Logo/Aprosag_konyvek_logo_2_white.svg"/>
  </div>
</div>
