@import "apps/aprosag-konyvek/src/variables";
@import "apps/aprosag-konyvek/src/mixins";

.newsletter-container{
  height: 300px;
  background-image: url("/assets/Product_1/_0018_Product_1b.jpg");
  background-repeat: no-repeat;
  background-position-x: -230px;
  background-position-y: -150px;
  background-size: 700px auto;
  background-color: rgb(255, 235, 237);
  width: 100%;

  .newsletter{
    width: 70%;
    margin: 0 auto;
    background-color: blue;
    position: relative;

    .inner-container{
      margin: 2em;
      position: absolute;
      margin-left: 30%;

      .title{
        font-size: 1.3em;
        color: $font-color;
        font-family: lato, Helvetica, sans-serif;
        font-weight: bold;      }

      .subtitle{
        margin-top: 20px;
        font-size: 1em;
        color: $font-color;
        font-family: lato, Helvetica, sans-serif;
        font-weight: 600;
      }

      .subscribe-form {
        margin-top: 50px;


        input {
          @include input-field;
          max-width: 300px;
        }

        .subscribe {
          margin-top: 2px;
          margin-left: -50px;
          @include button();
          padding-top: 13px;
          padding-bottom: 14px;
        }
      }
    }
  }
}
