<div class="shipping-options-container">
  <div class="shipping-options">
    <div class="option" *ngFor="let option of cartService.shippingTypes">
      <div class="input-field">
        <input class="radion-button" type="radio" id="{{option.name}}" name="option" [value]="option"
               [(ngModel)]="cartService.selectedShippingType"
               checked>
      </div>
      <label class="option-label" for="{{option.name}}">
        <span class="label-name">{{option.name}}:</span>
        <span class="label-value">{{option.value}} Ft</span>
      </label>
    </div>
  </div>
</div>
