@import "apps/aprosag-konyvek/src/variables";
@import "apps/aprosag-konyvek/src/mixins";

.summary-container {
  font-family: lato, Helvetica, sans-serif;

  background-color: white;
  max-width: 80%;
  width: 800px;
  margin: 25px auto;
  font-weight: bold;

  @media (max-width: $breakpoint-md) {
    width: auto;
    max-width: 100%;
  }

  .header {
    padding: 15px 25px;
    color: white;
    background-color: $base-green;

    .text {
      font-size: 16px;
    }
  }

  .content {
    padding: 0 25px;

    .table-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;
      gap: 25px;


      border-bottom: 1px solid #707070;
      padding: 20px 0;

      overflow: hidden;

      .shipping-type,.summary {
        font-weight: 800;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .center {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        gap: 10px;

        .name{
            font-weight: 800;
        }

        .prices {
          display: flex;
          gap: 10px;
          width: 100%;
          white-space: nowrap;

          .original_price.invalid {
            text-decoration: line-through;
          }

          .discount {
            color: $red-text;
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;

        .cart-item-text-container {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 25px;
        }

        .summary-title {
          font-weight: 800;
        }


        .sum-price{
          display: flex;
          gap: 10px;

          .original_price.invalid {
            text-decoration: line-through;
          }

          .discount {
            color: $red-text;
          }
        }
      }

      .cart-item-image-container {
        height: 100px;

        .cart-item-image {
          height: 100%;
        }

        .cart-text-container {
          flex-direction: column;
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-left: 40px;
          font-size: 18px;

          .title-container {
            display: flex;
            justify-content: space-between;

            .title {
              font-weight: bold;
            }

            .delete-button {
              font-size: 25px;
            }
          }

          .price-container {
            display: flex;
            justify-content: space-between;

            .times {
              color: rgb(180, 180, 180);
              margin-right: 10px;
            }
          }
        }
      }

      &:last-of-type {
        border-bottom: none;
      }

      .table-title {
        font-weight: 700;
      }


    }
  }
}
