@import "src/variables";
@import "src/mixins";

:host {
  flex: 1;
  background: linear-gradient(180deg, rgba(251, 240, 241) 0%, rgba(255, 255, 255) 60%);;
}

.item-page-container {
  font-family: lato, Helvetica, sans-serif;
  font-weight: 800;
  color: $font-color;

  .item-container {
    width: $content-percentage-width;
    max-width: $content-max-width;

    margin: 50px auto;

    display: flex;
    gap: 20px;

    @media (max-width: $breakpoint-sm) {
      width: 100%;
      flex-direction: column;
      margin-top: 0;
      padding: $base-padding;
    }

    .mobile-title-container {
      display: none;
      @media (max-width: $breakpoint-sm) {
        display: block;
      }

      .title {
        @include title;
      }

      .subtitle {
        @include subtitle;
        margin-bottom: 10px;
      }
    }

    .images {
      width: 50%;

      @media (max-width: $breakpoint-md) {
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
      }

      .main-image-container {
        position: relative;

        .arrow {
          position: absolute;
          top: calc(50% - 20px);
          cursor: pointer;
          height: 40px;


          &.left {
            left: 15px;
            transform: rotate(180deg);
          }

          &.right {
            right: 15px;
          }
        }

        .main-image {
          user-select: none;
          width: 100%;
        }
      }


      .small-images {
        width: 100%;
        margin-top: 10px;
        grid-template-columns: repeat(4, calc(25% - 10px));
        display: grid;
        column-gap: 5px;

        justify-content: space-between;


        .small-image {
          width: 100%;
          cursor: pointer;

          transition: opacity 0.3s;


          &.inactive {
            opacity: 0.5;
          }

          &:hover{
            opacity: 1;
          }
        }
      }
    }

    .details {
      width: 50%;
      color: $font-color;
      font-size: 16px;
      font-weight: 600;

      @media (max-width: $breakpoint-md) {
        width: 100%;
      }

      .title-container{
        .title {
          @include title;
        }

        .subtitle {
          @include subtitle;
        }

        @media (max-width: $breakpoint-sm) {
          display: none;
        }
      }



      .description {
        width: 70%;
        margin-bottom: 25px;

        @media (max-width: $breakpoint-lg) {
          width: 100%;
        }
      }

      .details-container {
        margin-bottom: 25px;
      }

      .stock-container {
        font-weight: bold;
        margin-bottom: 25px;
      }

      .price-container {
        margin-bottom: 25px;

        .discount {
          font-weight: bold;
          color: $red-text;
        }

        .original_price {
          font-weight: bold;

          &.invalid {
            opacity: 0.6;
            margin-left: 50px;
            text-decoration: line-through;
          }
        }
      }

      .cart-container {
        display: flex;
        gap: 50px;

        .button {
          width: 100%;
          @include button;
        }
      }
    }
  }


}
