@import "libs/ui/src/lib/variables";
@import "libs/ui/src/lib/mixins";

.option{
  display: flex;
  justify-content: space-between;

  margin-bottom: 15px;

  .text{
    font-size: $text-size;
  }

  .input-field{
    display: flex;

    .radio-button{
      margin-top: 5px;
    }
  }

  .option-label{
    margin: 0;
    margin-left: 20px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    .label-name {
      max-width: 180px;
      font-size: $text-size;
    }

    .label-value{
      width: 80px;
      text-align: right;
        font-size: $text-size;
    }
  }
}
