<div class="item-page-container" *ngIf="item">
  <div class="item-container">
    <div class="images">
      <aprosag-gallery [images]="itemImages" [showSmallImages]="true"></aprosag-gallery>

    </div>
    <div class="details">
      <span class="title-container">
          <div class="item-title">
            <span class="title-text">{{item.title}}</span>
            <aprosag-favorite class="favorite-icon" [item]="item"></aprosag-favorite>
      </div>
      <div class="subtitle">
        {{item.subtitle}}
      </div>
      </span>

      <div class="price-container mobile" >
        <span *ngIf="item.price.discount_price" class="discount price">{{item.price.discount_price + " Ft"}}</span>
        <span class="original_price"
              [ngClass]="{'invalid': item.price.discount_price}">{{item.price.price + " Ft"}}</span>
      </div>

      <div class="description">
        {{item.description}}
      </div>
      <div class="details-container">
        <div class="page-number">Oldalak száma: {{item.page_count}} </div>
        <div class="cover-type">Borító: {{item.cover_type}} </div>
        <div class="isbn">ISBN: {{item.isbn}} </div>
        <div class="weight">Súly: {{item.weight}} </div>
        <div class="publication-date">Kiadás éve: {{item.publication_date | date:'yyyy'}} </div>
      </div>
      <div class="stock-container">
        Raktáron: {{item.storage_amount}} db
      </div>
      <div class="price-container" *ngIf="item.price">
        <span *ngIf="item.price.discount_price" class="discount price">{{item.price.discount_price + " Ft"}}</span>
        <span class="original_price"
              [ngClass]="{'invalid': item.price.discount_price}">{{item.price.price + " Ft"}}</span>
      </div>

      <div class="cart-container">
        <aprosag-stepper [allowZero]="false" [value]="amount" (valueChange)="amountChanged($event)"></aprosag-stepper>
        <button class="button add-to-cart" type="button" (click)="addItemToCart(item)" [disabled]="amount === 0">Kosárba</button>
      </div>
    </div>
  </div>
  <div id="related-items-container">

  </div>
</div>

<ng-template #content let-modal class="added-to-cart-modal">
  <aprosag-added-to-cart></aprosag-added-to-cart>
</ng-template>
