<div class="cart-page-container">
  <h1>Kosár</h1>
  <div class="cart-table-container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Kép</th>
        <th scope="col">Termék</th>
        <th scope="col">Ár</th>
        <th scope="col">Mennyiség</th>
        <th scope="col">Részösszeg</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of cartService.items">
        <td><button class="button" (click)="removeItemFromCart(item)">-</button></td>
        <td>X</td>
        <td>{{item.item.title}}</td>
        <td>{{item.item.price}} Ft</td>
        <td>{{item.amount}}</td>
        <td>{{item.item.price}} Ft</td>
      </tr>
      <tr *ngIf="cartService.count == 0">
        <td colspan="6">A kosarad üres</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="cartService.count > 0">
    <aprosag-shipping-options></aprosag-shipping-options>
    <button class="button" (click)="goToDesk()">Tovább a pénztárhoz</button>
  </div>
</div>
