<div class="cart-page-container">
  <h1 class="title">Kosár</h1>
  <div class="cart-table-container">
    <table class="table">
      <thead class="table-header">
      <tr>
        <th class="header-text" scope="col"></th>
        <th class="header-text" scope="col">Kép</th>
        <th class="header-text" scope="col">Termék</th>
        <th class="header-text" scope="col">Ár</th>
        <th class="header-text" scope="col">Mennyiség</th>
        <th class="header-text" scope="col">Részösszeg</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of cartService.items">
        <td>
           <span class="delete-icon-container" (click)="removeItemFromCart(item)">

          </span>
        <td>

        </td>
        <td>
          <div class="item-title">{{item.item.title}}</div>
          <div>{{item.item.subtitle}}</div>
        </td>
        <td>{{item.item.price}} Ft</td>
        <td>{{item.amount}}</td>
        <td>{{item.item.price}} Ft</td>
      </tr>
      <tr *ngIf="cartService.count == 0">
        <td colspan="6">A kosarad üres</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="cartService.count > 0">
    <aprosag-shipping-options></aprosag-shipping-options>
    <button class="button" (click)="goToDesk()">Tovább a pénztárhoz</button>
  </div>
</div>
