<div class="cash-desk-page-container">
  <div class="cash-desk-page">
    <div class="title">Pénztár</div>
    <mat-stepper [orientation]="(stepperOrientation | async)!" linear #stepper>
      <mat-step class="step">
        <form>
          <ng-template matStepLabel>Számlázási adatok</ng-template>
          <app-billing-data (nextButtonClicked)="stepper.next()"></app-billing-data>
        </form>
      </mat-step>
      <mat-step class="step">
        <ng-template matStepLabel>Fizetési módok</ng-template>
        <div class="title">Fizetési módok</div>
        <aprosag-payment-options></aprosag-payment-options>
        <div class="button-container">
          <button mat-button class="button" [disabled]="(orderService.selectedPaymentType$  | async) == null" matStepperNext>Összesítés</button>
          <button mat-button class="button back" matStepperPrevious>Számlázási adatok</button>
        </div>
      </mat-step>
      <mat-step class="step">
        <ng-template matStepLabel>Összesítés</ng-template>
        <app-order-summary></app-order-summary>
        <div class="button-container">
          <button mat-button class="button" (click)="sendOrder()">Rendelés megerősítése</button>
          <button mat-button class="button back" matStepperPrevious>Fizetési módok</button>
        </div>
      </mat-step>
    </mat-stepper>
    <app-cart-summary></app-cart-summary>
  </div>
</div>
