<form *ngIf="itemForm" [formGroup]="itemForm" class="flex flex-col gap-2 w-100">
    <div>
        Cim:
        <input pInputText type="text" formControlName="title"/>
    </div>
    <div>
        Alcim:
        <input pInputText type="text" formControlName="subtitle"/>
    </div>
    <div>
        Leiras:
        <textarea pInputTextarea type="text" cols="50" rows="10" formControlName="description"></textarea>
    </div>
    <div>
        Oldalszam:
        <p-inputNumber type="text" formControlName="page_count"></p-inputNumber>
    </div>
    <div>
        Borito:
        <input pInputText type="text" formControlName="cover_type"/>
    </div>
    <div>
        Suly:
        <p-inputNumber type="text" formControlName="weight"></p-inputNumber>
    </div>
    <div>
        ISBN:
        <input pInputText type="text" formControlName="isbn"/>
    </div>
    <ng-container formGroupName="price">
        <div>
            Eredeti ar:
            <p-inputNumber type="text" formControlName="price"></p-inputNumber>
        </div>
        <div>
            Akcios ar:
            <p-inputNumber type="text" formControlName="discount_price"></p-inputNumber>
        </div>
    </ng-container>
    <div>
        Kiadas eve:
        <p-calendar formControlName="publication_date"></p-calendar>
    </div>
    <div>
        Raktaron:
        <p-inputNumber type="text" formControlName="storage_amount"></p-inputNumber>
    </div>
    <div class="flex gap-2" >
        Kepek:
        <ng-container formArrayName="image_urls">
            <div class="flex flex-col gap-2" >
                <div class="flex gap-2" *ngFor="let image of imageUrls.controls; let i = index">
                    <input pInputText type="text" [formControlName]="i"/>
                    <button pButton class="p-button-danger" icon="pi pi-minus" (click)="removeImage(i)"></button>
                </div>
                <button class="flex-1 self-end p-button-success" pButton icon="pi pi-plus" (click)="addImage()"></button>
            </div>
        </ng-container>
    </div>
    <div class="flex gap-4">
        <button pButton *ngIf="itemForm.controls.id.value" class="p-button-danger" (click)="deleteItem()">Torles</button>
        <button pButton [disabled]="itemForm.invalid" (click)="createItem()">{{ itemForm.controls.id.value ? "Szerkesztes" : "Letrehozas"}}  </button>
    </div>
</form>