<div class="cart-page-container">
  <div class="cart-container">
    <div class="title">Kosár</div>
    <div class="cart-table-container">
      <table class="table">
        <thead class="table-header">
        <tr>
          <th class="header-text" scope="col"></th>
          <th class="header-text image" scope="col">Kép</th>
          <th class="header-text" scope="col">Termék</th>
          <th class="header-text" scope="col">Ár</th>
          <th class="header-text amount" scope="col">Mennyiség</th>
          <th class="header-text" scope="col">Részösszeg</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cartItem of cartService.items$ | async">
          <td class="delete-icon-container">
           <span class="delete-icon" (click)="removeItemFromCart(cartItem.item)">
             <img src="../../../assets/Icons/Delete_Cart.svg" height="30px"/>
          </span>
          <td>
            <div class="cart-item-image-container" (click)="openItemPage(cartItem.item)"
                 *ngIf="cartItem.item.image_urls">
              <img class="cart-item-image" [src]="'assets/' + cartItem.item.image_urls[0]"/>
            </div>
          </td>
          <td class="item-title-container" (click)="openItemPage(cartItem.item)">
            <div class="item-title">{{cartItem.item.title}}</div>
            <div>{{cartItem.item.subtitle}}</div>
          </td>
          <td>
            <div class="prices" *ngIf="cartItem.item.price">
              <span class="original_price"
                    [ngClass]="{'invalid': cartItem.item.price.discount_price}">{{(cartItem.item.price.price) + " Ft"}}</span>
              <span *ngIf="cartItem.item.price.discount_price"
                    class="discount price">{{cartItem.item.price.discount_price + " Ft"}}</span>
            </div>
          </td>
          <td class="amount">
            <aprosag-stepper [allowZero]="false" [value]="cartItem.amount"
                             (valueChange)="amountChanged(cartItem.item, $event)"></aprosag-stepper>
          </td>
          <td>
            <div class="prices" *ngIf="cartItem.item.price">
              <span class="original_price"
                    [ngClass]="{'invalid': cartItem.item.price.discount_price}">{{(cartItem.item.price.price * cartItem.amount) + " Ft"}}</span>
              <span *ngIf="cartItem.item.price.discount_price"
                    class="discount price">{{cartItem.item.price.discount_price * cartItem.amount + " Ft"}}</span>
            </div>
          </td>
        </tr>
        <tr *ngIf="(cartService.count$ | async)! == 0">
          <td colspan="6">A kosarad üres</td>
        </tr>
        </tbody>
      </table>

      <div class="mobile-table">
        <div class="item-row" *ngFor="let cartItem of cartService.items$ | async">
          <div class="delete-icon-container">
           <span class="delete-icon" (click)="removeItemFromCart(cartItem.item)">
             <img src="../../../assets/Icons/Delete_Cart.svg" height="30px"/>
          </span>
          </div>
          <div class="cart-item-image-container" (click)="openItemPage(cartItem.item)" *ngIf="cartItem.item.image_urls">
            <img class="cart-item-image" [src]="'assets/' + cartItem.item.image_urls[0]"/>
          </div>
          <div class="item-details-container">
            <div class="item-title">{{cartItem.item.title}}</div>
            <div>{{cartItem.item.subtitle}}</div>
            <div class="stepper-container">
              <aprosag-stepper [allowZero]="false" [value]="cartItem.amount"
                               (valueChange)="amountChanged(cartItem.item, $event)"></aprosag-stepper>
            </div>
            <div class="price-container">
              <div class="prices" *ngIf="cartItem.item.price">
                {{cartItem.amount}}x
                <span class="original_price"
                      [ngClass]="{'invalid': cartItem.item.price.discount_price}">{{(cartItem.item.price.price) + " Ft"}}</span>
                <span *ngIf="cartItem.item.price.discount_price"
                      class="discount price">{{cartItem.item.price.discount_price + " Ft"}}</span>
              </div>
            </div>
          </div>
          <div>
             <span class="sum-price">
              <span class="original_price" *ngIf="!cartItem.item.price.discount_price"
                    [ngClass]="{'invalid': cartItem.item.price.discount_price}">{{(cartItem.item.price.price * cartItem.amount) + " Ft"}}</span>
              <span *ngIf="cartItem.item.price.discount_price"
                    class="discount price">{{cartItem.item.price.discount_price*cartItem.amount + " Ft"}}</span>
              </span>
          </div>
        </div>
        <div *ngIf="(cartService.count$ | async)! === 0">
          <span>A kosarad üres</span>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button class="button back-to-shop" (click)="continueShopping()">Vásárlás folytatása</button>
    </div>
    <div class="newsletter-and-shipping">
      <div class="newsletter-container">

      </div>
      <div class="shipping-options-container">
        <div class="header">
          <span class="text">Kosár összesen</span>
        </div>
        <div class="content">
          <div class="table-row">
            <span class="table-title text">Részösszeg</span>
            <span class="text">{{cartService.sumPrice$ |async}} Ft</span>
          </div>
          <div class="table-row shipping">
            <div class="table-title shipment text">Szállítás</div>
            <aprosag-shipping-options></aprosag-shipping-options>
          </div>
          <div class="table-row" *ngIf="orderService.selectedShippingType$ | async as selectedShippingType">
            <span class="table-title text">Összeg</span>
            <span class="text">{{(cartService.sumPrice$ |async)! + selectedShippingType.price}} Ft</span>
          </div>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button class="button to-the-cashdesk" [disabled]="(orderService.selectedShippingType$ | async) === null"  (click)="goToDesk()">Tovább a pénztárhoz</button>
    </div>
  </div>
</div>
