<div class="about-us-page-container">
  <div class="about-us-container">
    <div class="title">Rólunk</div>
    <div class="about-us-text">
      <p>Mi vagyunk az Apróság Könyvek szerzői, akik igyekszünk minél több mosolyt csalni a gyermekek arcára. Egy vidám és kreatív mosonmagyaróvári család vagyunk, akik 2017-ben egy mesekönyvvel leptük meg a legújabb családtagunkat karácsonyra. Aztán a másodikat is két évvel később. Majd jött a harmadik…..a negyedik. A versek és mesék pedig csak gyarapodtak az évek alatt. A nagy sikernek és jó visszhangnak köszönhetően aztán 2020-ban vettük a bátorságot és belevágtunk a könyvkiadásba és megszületett az Apróság Könyvek.</p>
      <p>Feri papa írja a verseket rendületlenül, Áron győzi illusztrálni a sok-sok állatot vagy ami éppen édesapja eszébe jut, Niki pedig igyekszik a lehető leggyönyörűbben kicsinosítani a rajzokat és marketinganyagokat, két kisfiú nevelése mellett. Számunkra mindig a család és a gyerekek az elsők, ezért is szeretnénk könyveinkkel egy kis vidámságot és szórakozást vinni az életükbe úgy, hogy azért tanítson is nekik egy-két dolgot. Ahogy időnk engedi igyekszünk megvalósítani ötleteinket, ugyanis jó pár lapul még a tarsolyunkban és garantáljuk, hogy ez még csak a jéghegy csúcsa!</p>
    </div>
    <div class="person-container">
      <div class="person">
        <img class="image" src="assets/About_us/Feri.jpg"/>
        <div class="subtitle">Horváth Ferenc</div>
        <div class="text">
          <p>Horváth Ferenc vagyok, férj, apa, nagyapa. Szeretem a városomat, ahol születtem és ahol élek. Humán beállítottságomnak köszönhetően nyertem országos szavalóversenyeket, Kazinczy-díjas vagyok, zenéltem, sportoltam és beutaztam a fél világot. Tevékenykedtem pedagógusként, műsorvezetőként, dolgoztam tévésként, foglalkoztam versmondókkal és színjátszókkal. Főleg magam örömére írogattam verseket, meséket, novellákat, aforizmákat. Unokáim születése óta azonban nincs fontosabb, mint az ő boldogságuk. Ha versben kell kifejezni ki is vagyok, hát íme:</p>
          <p>Éltem ahogy éltem,<br/>
          tettem, amit tettem.<br/>
          Sok dolgot elértem,<br/>
          soha nem dicsekedtem.<br/>
          Volt, hogy néha eltévedtem,<br/>
          de van mire büszkének lennem.<br/>
          Nem díjakra és érmekre,<br/>
          hanem unokákra és gyerekekre.</p>
        </div>
      </div>
      <div class="person">
        <img class="image" src="assets/About_us/Aron.jpg"/>
        <div class="subtitle">Horváth Áron Ferenc</div>
        <div class="text">
          <p>Gyerekkorom óta hobbi szinten rajzolok, így mikor édesapám megkért, hogy illusztráljam első unokájának írt verseskönyvét nagy örömmel vállaltam.</p>
          <p>Nikivel két kisfiunknak gyakran olvasunk mi is a könyveinkből és alig várjuk, hogy a nekik írt Feri papa műveket is kiadhassuk.</p>
          <p>Fogtechnikusként munkám is megköveteli a jó kézügyességet és kreativitást.</p>
        </div>
      </div>
      <div class="person">
        <img class="image" src="assets/About_us/Niki.jpg"/>
        <div class="subtitle">Molnár Nikoletta</div>
        <div class="text">
          <p>Mivel már óvodában is én rajzoltam a társaimnak a színezni való képeket, adott volt, hogy előbb-utóbb művészi pályán indulok el. A győri középiskolában a hagyományos grafikai eljárásokat, az egri egyetemen pedig a digitális tervezőgrafikát sajátítottam el, azonban a két szerelemszakmámat a munkáim során tanultam meg. A mobil alkalmazásfejlesztés rejtelmeibe Budapesten láttam bele, a számítógépes játékfejlesztést pedig Győrben és Pozsonyban ismertem meg.</p>
          <p>Az Apróság Könyvek egy különleges projekt a számomra, nevelgetésénél minden tudásomra szükségem van és végtelenül hálás vagyok a létrejöttéért. Anyaként rengeteg kreatív ötletet és energiát tudok az vállalkozásunkba összpontosítani.</p>
        </div>
      </div>
    </div>
  </div>
</div>
