<div class="about-us-page-container">
  <div class="about-us-container">
    <div class="title">Rólunk</div>
    <div class="about-us-text">
      Aut aut yet quae tempora. Consectetur. Velitesse dolor and natus aliquid officia. Nostrud laudantium. Sit
      perspiciatis cillum fugiat so dolorem yet esse. Laboris aperiam aperiam. Tempor lorem yet fugiat. Commodo duis
      lorem yet illo. Eiusmod nostrud. Incididunt eum so in. Explicabo. Dolore dolore iure. Dolores dolores aut
      ipsam, quis yet error.
    </div>
    <div class="person-container">
      <div class="person horvath-ferenc">
        <img class="image" src="assets/Product_1/_0019_Product_1a.jpg"/>
        <div class="subtitle">Horváth Ferenc</div>
        <div class="text">
          Aut aut yet quae tempora. Consectetur. Velitesse dolor and natus aliquid officia. Nostrud laudantium. Sit
          perspiciatis cillum fugiat so dolorem yet esse. Laboris aperiam aperiam.
        </div>
      </div>
      <div class="person horvath-aron">
        <img class="image" src="assets/Product_2/_0010_Product_2e.jpg"/>
        <div class="subtitle">Horváth Áron Ferenc</div>
        <div class="text">
          Aut aut yet quae tempora. Consectetur. Velitesse dolor and natus aliquid officia. Nostrud laudantium. Sit
          perspiciatis cillum fugiat so dolorem yet esse. Laboris aperiam aperiam.
        </div>
      </div>
      <div class="person molnar-nikoletta">
        <img class="image" src="assets/Product_3/_0005_Product_3e.jpg"/>
        <div class="subtitle">Molnár Nikoletta</div>
        <div class="text">
          Aut aut yet quae tempora. Consectetur. Velitesse dolor and natus aliquid officia. Nostrud laudantium. Sit
          perspiciatis cillum fugiat so dolorem yet esse. Laboris aperiam aperiam.
        </div>
      </div>
    </div>
  </div>
</div>
