<div class="container">
  <div class="about-us-container">
    <h1>Rólunk</h1>
    <p class="about-us-text">
      Aut aut yet quae tempora. Consectetur. Velitesse dolor and natus aliquid officia. Nostrud laudantium. Sit
      perspiciatis cillum fugiat so dolorem yet esse. Laboris aperiam aperiam. Tempor lorem yet fugiat. Commodo duis
      lorem yet illo. Eiusmod nostrud. Incididunt eum so in. Explicabo. Dolore dolore iure. Dolores dolores aut
      ipsam, quis yet error.
    </p>
    <div class="person-container">
      <div class="person horvath-ferenc">
        <img src="assets/Product_1/_0019_Product_1a.jpg"/>
        <h2>Horváth Ferenc</h2>
        <p>
          Aut aut yet quae tempora. Consectetur. Velitesse dolor and natus aliquid officia. Nostrud laudantium. Sit
          perspiciatis cillum fugiat so dolorem yet esse. Laboris aperiam aperiam.
        </p>
      </div>
      <div class="person horvath-aron">
        <img src="assets/Product_2/_0010_Product_2e.jpg"/>
        <h2>Horváth Áron Ferenc</h2>
        <p>
          Aut aut yet quae tempora. Consectetur. Velitesse dolor and natus aliquid officia. Nostrud laudantium. Sit
          perspiciatis cillum fugiat so dolorem yet esse. Laboris aperiam aperiam.
        </p>
      </div>
      <div class="person molnar-nikoletta">
        <img src="assets/Product_3/_0005_Product_3e.jpg"/>
        <h2>Molnár Nikoletta</h2>
        <p>
          Aut aut yet quae tempora. Consectetur. Velitesse dolor and natus aliquid officia. Nostrud laudantium. Sit
          perspiciatis cillum fugiat so dolorem yet esse. Laboris aperiam aperiam.
        </p>
      </div>
    </div>
  </div>
</div>
