@import "src/variables";

:host{
  background: linear-gradient(180deg, rgba(251,240,241) 0%, rgba(255,255,255) 60%);;
}

.about-us-page-container {
  font-family: lato, Helvetica, sans-serif;
  font-weight: 800;
  color: $font-color;

  .about-us-container {
    width: $content-percentage-width;
    max-width: $content-max-width;

    margin: 0 auto;
    margin-bottom: 180px;

    display: flex;
    flex-direction: column;

    .title {
      font-size: 36px;
      text-align: center;
      margin: 48px;
      line-height: 1;
    }

    .about-us-text {
      font-weight: normal;
      font-size: 18px;
      text-align: center;

      margin-bottom: 48px;
    }

    .person-container {
      display: flex;
      gap: 48px;
      font-weight: normal;
      font-size: 18px;

      @media (max-width: $breakpoint-md) {
        flex-direction: column;
      }

      .person {
        display: flex;
        flex-direction: column;

        .subtitle{
          margin: 28px 0;
          font-weight: 900;
        }

        .image {
          width: 100%;

          @media (max-width: $breakpoint-md) {
            max-width: 500px;
          }
        }
      }
    }
  }
}
