<div class="stepper-container">
  <button class="arrow left" [disabled]="value <= (allowZero ? 0 : 1)" (click)="decreaseValue()" >
    <img class="left-arrow" src="../../../../assets/Icons/Arrow_Grey.svg" style="transform: rotate(180deg)" height="50px">
  </button>

  <span class="content-container">
    {{value}}
  </span>

  <button class="arrow right" [disabled]="maxValue && value >= maxValue" (click)="increaseValue()">
    <img class="right-arrow" src="../../../../assets/Icons/Arrow_Grey.svg" height="50px">
  </button>
</div>
