@import "projects/aprosag-webshop/src/variables";

:host{
  display: block;
}

.stepper-container{
  background-color: whitesmoke;
  height: 50px;
  color: $font-color;
  display: flex;
  align-items: center;
  justify-content: space-between ;
  user-select: none;

  font-family: lato, Helvetica sans-serif;

  border-radius: 100px;
  border-bottom: 1px solid $font-color;
  border-top: 1px solid $font-color;

  .arrow{
    background-color: white;
    border: 1px solid $font-color;
    border-radius: 100px;

    cursor: pointer;

    height: 50px;
    width: 50px;

    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    &.disabled{
      opacity: 0.5
    }
  }

  .content-container{
    height: 100%;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 17px;
    font-weight: 700;
    padding: 0 10px;
  }
}
