@import "projects/aprosag-webshop/src/variables";
@import "projects/aprosag-webshop/src/mixins";

.favorites-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 50px;

  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr 1fr;
  }
}
