@import "src/mixins";
@import "src/variables";

.email-sent-container{
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  font-size: 16px;
  color: $font-color;

  .title{
    @include title;
    padding: 15px 0 !important;
    text-align: center;
  }

  .thank-you-text{
    text-align: center;
  }

  .button-container{
    width: 100%;
    text-align: center;
    .button{
      @include button;
      margin: 0 auto;
      width: 50%;
    }
  }
}
