@import "variables";

@mixin button($background-color: $green-line, $color: white) {
  background-color: $background-color;
  font-family: lato, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 50px;

  border: none;
  cursor: pointer;
  color: $color;
  width:100%;
  padding: 10px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  text-transform: uppercase;
  box-shadow: 0 0 13px -5px #000000;
}

@mixin input-field {
  width: 100%;
  margin-top: 10px;
  font-size: 15px;
  border: 2px solid gray;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 30px;
}
