@use "sass:list";
@import "variables";

$background-images: [url('/assets/Backgrounds/leaf_2.svg'), url('/assets/Backgrounds/leaf_1.svg'), url('/assets/Backgrounds/leaf_3.svg'), url('/assets/Backgrounds/leaf_4.svg')];

@mixin button($background-color: $green-line, $color: white) {
  background-color: $background-color;
  font-family: lato, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: $button-height;

  border: none;
  outline: none;
  cursor: pointer;
  color: $color;
  text-align: center;
  text-decoration: none;
  font-size: 14px !important;
  text-transform: uppercase;
  box-shadow: 0 0 13px -5px #000000;


  &:disabled{
    background-color: $disabled-button;
    cursor: default;
  }

  &:active {
    box-shadow: 0 0 13px -8px #000000;
  }
}

@mixin input-field {
  width: 100%;
  margin-top: 5px;
  font-size: 15px;
  border: 2px solid gray;
  padding: 8px 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 30px;
}

@mixin title {
  line-height: 1;
  font-size: $title-size;
  font-weight: 900;
  color: $font-color;
  text-align: center;
  padding: 36px 0;

  @media (max-width: $breakpoint-sm) {
    font-size: $title-size-mobile;
    padding: 50px 0;
  }
}

@mixin subtitle{
  line-height: 1;
  font-size: $subtitle-size;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
  color: $font-color;

}

@mixin background($background-image){
  background-color: white;
  background-image: url($background-image),
  list.nth($background-images, random(4)),
  list.nth($background-images, random(4)),
  list.nth($background-images, random(4)),
  list.nth($background-images, random(4));
  background-size: contain, 30%, 30%, 30%, 30%;
  background-position: top left, left -20px top 10px, right 20px top 400px, left -20px top 2000px, right -20px top 3000px;
  background-repeat: no-repeat;
}

@mixin pagesize(){
  width: $content-percentage-width;
  max-width: $content-max-width;
  @media (max-width: $breakpoint-sm) {
    width: $content-percentage-width-mobile;
  }
}
