$base-green: #6BD8A5;
$ligth-green: #D9E9E2;
$vivid-green: #0EE0A7;

$font-color: rgb(86,86,86);
$green-line: rgb(107,216,165);
$footer-green: rgb(61,79,70);
$red-text: rgb(242,82,82);

$content-max-width: 1000px;
$content-percentage-width: 70%;

$button-height: 50px;
