body {
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

@font-face {
  font-family: latoLight;
  src: url(assets/Lato_font/Lato-Light.ttf);
}

@font-face {
  font-family: latoThin;
  src: url(assets/Lato_font/Lato-Thin.ttf);
}

@font-face {
  font-family: latoHairline;
  src: url(assets/Lato_font/Lato-Hairline.ttf);
}

@font-face {
  font-family: latoHairlineItalic;
  src: url(assets/Lato_font/Lato-HairlineItalic.ttf);
}

@font-face {
  font-family: latoThinItalic;
  src: url(assets/Lato_font/Lato-ThinItalic.ttf);
}

@font-face {
  font-family: latoBold;
  src: url(assets/Lato_font/Lato-Black.ttf);
}

@font-face {
  font-family: latoMedium;
  src: url(assets/Lato_font/Lato-Medium.ttf);
}

@font-face {
  font-family: latoSemibold;
  src: url(assets/Lato_font/Lato-Semibold.ttf);
}

