body {
  margin: 0;
}

@font-face {
  font-family: latoBold;
  src: url(assets/Lato_font/Lato-Black.ttf);
}

@font-face {
  font-family: latoMedium;
  src: url(assets/Lato_font/Lato-Medium.ttf);
}

@font-face {
  font-family: latoSemibold;
  src: url(assets/Lato_font/Lato-Semibold.ttf);
}

