@import "src/variables";
@import "src/mixins";


.special-page-container{
  font-family: lato, Helvetica, sans-serif;
  color: $font-color;


  @include background('/assets/Backgrounds/Special_BG.svg');

  .special-container{
    width: $content-percentage-width;
    max-width: $content-max-width;

    margin: 0 auto;
    margin-bottom: 35px;

    @media (max-width: $breakpoint-md) {
      text-align: center;
    }

      @media (max-width: $breakpoint-sm) {
      width: 100%;
      padding: 0 15px;

      text-align: center;
    }

    padding-bottom: 100px;


    .title{
      @include title;
    }

    .paragraphs{
      display: flex;
      flex-direction: column;
      gap: 50px;

      .paragraph{
        width: 100%;
        display: flex;
        gap: 25px;
        justify-content: center;
        align-items: center;

        @media (max-width: $breakpoint-md) {
          flex-direction: column-reverse;
        }

        img{
          width: 100%;
        }

        .subtitle{
          @include subtitle;
        }

        .image-container {
          width: 40%;
          @media (max-width: $breakpoint-md) {
            width: 80%;
          }
        }

        .text-container {
          width: 60%;
          @media (max-width: $breakpoint-md) {
            width: 100%;
          }
          .button{
            margin-top: 35px;
          }

          &.standalone{
            width: 100%;
          }
        }
      }

      .button-container{
        display: flex;
        justify-content:  center;
        margin-bottom: 25px;

        .button{
          @include button;
          width: 35%;
          min-width: 325px;

          @media (max-width: $breakpoint-md) {
            width: 80%;
          }
        }
      }

      .standalone-image-container{
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;

        .image{
          width: 100%;

          @media (max-width: $breakpoint-md) {
            width: 80%;
          }
        }
      }
    }
  }
}
