<div class="container">
  <div class="special-container">
    <h1>Mitől különlegesek az apróság könyvek?</h1>
    <div class="paragraph with-image">
      <div class="text">
        <h2>Apróság könyvek</h2>
        <p>
          Aut aut yet quae tempora. Consectetur. Velitesse dolor and natus aliquid officia. Nostrud laudantium. Sit
          perspiciatis cillum fugiat so dolorem yet esse. Laboris aperiam aperiam. Tempor lorem yet fugiat. Commodo duis
          lorem yet illo. Eiusmod nostrud. Incididunt eum so in. Explicabo. Dolore dolore iure. Dolores dolores aut
          ipsam,
          quis yet error.
        </p>
      </div>
      <img class="image" src="assets/Product_1/_0019_Product_1a.jpg"/>
    </div>
    <div class="paragraph with-button">
      <div class="text">
        <h2>A vers hatása a gyerekekre</h2>
        <p>
          Aut aut yet quae tempora. Consectetur. Velitesse dolor and natus aliquid officia. Nostrud laudantium. Sit
          perspiciatis cillum fugiat so dolorem yet esse. Laboris aperiam aperiam. Tempor lorem yet fugiat. Commodo duis
          lorem yet illo. Eiusmod nostrud. Incididunt eum so in. Explicabo. Dolore dolore iure. Dolores dolores aut
          ipsam,
          quis yet error.
        </p>
      </div>
      <div class="button-container">
        <input type="button" class="button" value="Szeretnék egyet">
      </div>
    </div>
    <div class="paragraph with-image">
      <div class="text">
        <h2>Apróság színezők</h2>
        <p>
          Aut aut yet quae tempora. Consectetur. Velitesse dolor and natus aliquid officia. Nostrud laudantium. Sit
          perspiciatis cillum fugiat so dolorem yet esse. Laboris aperiam aperiam. Tempor lorem yet fugiat. Commodo duis
          lorem yet illo. Eiusmod nostrud. Incididunt eum so in. Explicabo. Dolore dolore iure. Dolores dolores aut
          ipsam,
          quis yet error.
        </p>
        <div class="button-container">
          <input type="button" class="button" value="Megnézem">
        </div>
      </div>
      <img class="image" src="assets/Product_4/_0000_Product_4e.jpg"/>
    </div>
    <div class="paragraph with-button">
      <div class="text">
        <h2>Kártyajáték</h2>
        <p>
          Aut aut yet quae tempora. Consectetur. Velitesse dolor and natus aliquid officia. Nostrud laudantium. Sit
          perspiciatis cillum fugiat so dolorem yet esse. Laboris aperiam aperiam. Tempor lorem yet fugiat. Commodo duis
          lorem yet illo. Eiusmod nostrud. Incididunt eum so in. Explicabo. Dolore dolore iure. Dolores dolores aut
          ipsam,
          quis yet error.
        </p>
      </div>
      <img class="image" src="assets/kartya.png"/>
      <div class="button-container">
        <input type="button" class="button" value="További infó">
      </div>
    </div>
  </div>
</div>
